<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ShareMyBook</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/javascripts/main.js">
     </script>
     <script src="/javascripts/book_view.js">
     </script>
     <!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="one wide black column computer only">
      </div>
      <div class="fifteen wide black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img  class="ui image computer only grid"src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img class="ui small image mobile only grid" src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <a class="item" href="/account_info/account"><i class="large user icon black"></i>My Account</a>
                <a class="item" href="/account_info/wishlist"><i class="large bookmark icon black"></i>My Wishlist</a>
                  <a class="item" href="/account_info/my_books_for_sale"><i class="large book icon black"></i>My Books for Sale</a>
                  <a class="item" onclick="logout()"><i class="large sign out alternate icon black"></i>Logout</a>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui twelve wide centered grid">
        <div class="row">
          <h1 class="ui header">
                About Us
          </h1>
        </div>

        <h3 class="ui header"><br>ShareMyBook is a book selling web application that uses consumer to consumer business model.<br>
          All books will be verified before delivey and any discrepancies will be handled effectively<br>
          People who wish to sell their books can fill out a simple form and then Voila! Their books are ready for sale.<br>
          Others can buy these books easily by adding them to cart and then making payments.
          <br> An additional option is to add books to the wishlist for those who wish to buy them later.<br>
          All books will be delivered within one week of sale.
        </h3>
      </div>

    </body>
</html>
