<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ShareMyBook</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/javascripts/book_view.js"></script>
     <script src="/javascripts/account.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="one wide black column computer only">
      </div>
      <div class="fifteen wide black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img  class="ui image computer only grid"src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img class="ui small image mobile only grid" src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <a class="item" href="/account_info/account"><i class="large user icon black"></i>My Account</a>
                <a class="item" href="/account_info/wishlist"><i class="large bookmark icon black"></i>My Wishlist</a>
                  <a class="item" href="/account_info/my_books_for_sale"><i class="large book icon black"></i>My Books for Sale</a>
                  <a class="item" onclick="logout()"><i class="large sign out alternate icon black"></i>Logout</a>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--account, wishlist ,books for sale-->
    <div class="ui container segment">
      <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item account" onclick="account()">
          My Account
        </a>
        <a class="item wishlist" onclick="wishlist()">
          My Wishlist
        </a>
        <a class="item books" onclick="my_books_for_sale()">
          My Books for Sale
        </a>
      </div>
    </div>
  <div class="twelve wide stretched column" id="show">
    </div>
  </div>
</div>
  </body>
  <script>
    $(document).ready({{to_display}}());
    $('.ui.dropdown').dropdown({on: 'click'});
    $('.ui.icon.button').popup({on: 'click'});
  </script>
</html>
