<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShareMyBook</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/ui/book_view.js">
     </script>
<link rel="stylesheet" href="/ui/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <img src="../smblogo2.PNG" alt="Logo">
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <div class="item"><i class="large user icon"></i><a class="header">My Account</a></div>
                <div class="item"><i class="large bookmark icon"></i><a class="header">My Wishlist</a></div>
<div class="item"><i class="large book icon"></i><a>My Books for Sale</a></div>
<div class="item"><i class="large sign out alternate icon"></i><a>Logout</a></div>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile only checkout>-->
    <div class="ui one column grid mobile only">
      <br>
      <div class="ui padded segment">
        <h3>Subtotal 3 Items: &#x20b9;600</h3>
        <div class="ui teal button">
          Proceed to checkout
        </div>
      </div>
      <br>
    </div>
    <!--Left and Right stackable grids -->
    <div class="ui padded stackable grid">
      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--left stackable grid-->
      <div class="ten wide column">
        <h3 class="ui header">Shopping Cart</h3>
        <div class="ui four column grid computer only">
          <div class="column"></div>
          <div class="column"><h5>Detail</h5></div>
        <div class="column"><h5>Price</h5></div>
        <div class="column"></div>
        </div>
        <hr>
            <div class="ui four column stackable grid">
              <div class="column">
                <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
              </div>
              <div class="column">
                <span><h4 class="ui header">The Peacan Man </h4>by Author</span>
              </div>
            <div class="column">
              <span class="discount">&#x20b9;200</span>
            </div>
            <div class="column">
              Remove from Cart
            </div>
            <div class="column">
              <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
            </div>
            <div class="column">
              <span><h4 class="ui header">The Peacan Man </h4>by Author</span>
            </div>
          <div class="column">
            <span class="discount">&#x20b9;200</span>
          </div>
          <div class="column">
            Remove from Cart
          </div>
          <div class="column">
            <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
          </div>
          <div class="column">
            <span><h4 class="ui header">The Peacan Man </h4>by Author</span>
          </div>
        <div class="column">
          <span class="discount">&#x20b9;200</span>
        </div>
        <div class="column">
          Remove from Cart
        </div>
            </div>

<!--Related Products-->
<div class="ui raised segments">
  <div class="ui teal inverted fluid segment">
      <h3 class="header">Related Products</h3>
  </div>
  <div class="ui padded segment">
    <div class="ui three column equal width stackable grid">
      <div class="column">
        <div class="ui container">
          <div class="item">
            <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
          </div>
          <div class="item">
            <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
            <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui container">
          <div class="item">
            <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
          </div>
          <div class="item">
            <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
            <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui container">
          <div class="item">
            <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
          </div>
          <div class="item">
            <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
            <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
          </div>
        </div>
      </div>
</div>
</div>
</div>
  </div><!--Left stackable grid ends-->

      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Right stackable grid-->
      <div class=" ui four wide column grid computer only">
        <br><br><br><br>
        <div class="ui padded segment">
          <h3>Subtotal 3 Items: &#x20b9;600</h3>
          <div class="ui teal button">
            Proceed to checkout
          </div>
        </div>
  </div>
</div>
  <div class="ui inverted vertical footer segment form-page">
    <div class="ui container">
  <i class="copyright outline icon"></i> 2018 ShareMyBook. All Rights Reserved.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a>About us</a>&emsp;&emsp;<a> Contact us</a>
    </div>
  </div>
  </body>
<script type="text/javascript">
$('.ui.dropdown').dropdown({on: 'click'});
$('.ui.image').dimmer({on: 'hover'});
$('.ui.icon.button').popup({on: 'click'});
</script>
</html>
