<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShareMyBook</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/ui/book_view.js">
     </script>
<link rel="stylesheet" href="/ui/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="black column">
        <div class="ui segments">
          <div class="ui left floated segment">
            <img src="../smblogo2.PNG" alt="Logo">
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <div class="item"><i class="large user icon"></i><a class="header">My Account</a></div>
                <div class="item"><i class="large bookmark icon"></i><a class="header">My Wishlist</a></div>
<div class="item"><i class="large book icon"></i><a>My Books for Sale</a></div>
<div class="item"><i class="large sign out alternate icon"></i><a>Logout</a></div>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="ui inverted vertical footer segment form-page">
      <div class="ui container">
    <i class="copyright outline icon"></i> 2018 ShareMyBook. All Rights Reserved.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a>About us</a>&emsp;&emsp;<a> Contact us</a>
      </div>
    </div>
    </body>
</html>
