<html>
    <head>
        <title>Hello Login Page</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <style>
       .col-md-4{background-color: black;}
       .col-md-8{background-color: teal;}
       </style>
    </head>
    <body>
        <div class="container-fluid">
        <div class='row'>
        <div class="col-md-4">
            <p>&nbsp;</p> <p>&nbsp;</p>
            <img src="/images/smblogo2.png" alt="ShareMyBook">
            <p>&nbsp;</p> <p>&nbsp;</p>
            <h2 style="color:white;">Welcome</h2>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p  style="color:blue;">Register for an account on share my book web-application by clicking button below</p>
            <form action="/register" method="get">
              <input type="submit" value="Register Here" class="btn btn-success  col-md-offset-3"></input>
            </form>
        </div>
        <div class="col-md-8">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <h4 style="color:black;"> Or, login to your account</h4>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label for="username" class="control-label col-md-3"  style="color:white;">Username:</label>
                <div class="col-md-6">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" />
                </div>
              </div>
              <div class="form-group">
                  <label for="password" class="control-label col-md-3"  style="color:white;">Password:</label>
                  <div class="col-md-6">
                  <input type="password" class="form-control" id="password" placeholder="Password" />
                  </div>
                </div>
            <div class="form-group">
              <button type="button" onclick="ajaxquery()" class="btn btn-warning col-md-3 col-md-offset-3">Login</button>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
      </form>
    </div>
    </div>
    </div>
    <script type="text/javascript">
    var ajaxquery = function(){
      var username = document.getElementById("username").value;
      console.log(username);
      var password=document.getElementById("password").value;
      console.log(password);
          var data = JSON.stringify({
          "username": username,
          "password": password
          });

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            window.location.href = '/index';
            console.log(this.responseText);
          }
          });

          xhr.open("POST", "/auth/login");
          xhr.setRequestHeader("content-type", "application/json");
          //xhr.setRequestHeader("cache-control", "no-cache");
          //xhr.setRequestHeader("postman-token", "a44bb53a-a6a9-b7bc-c79f-21eeeca8cce5");

          xhr.send(data);
          }
    </script>

</body>
</html>
