<html>
    <head>
        <title>Login</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <style>
       .col-md-5, .container-fluid , .container{background-color: #151A22;}
       .col-md-7{background-color:	#00A876;}
       </style>
    </head>
    <body>

        <div class="container-fluid">
          <div class="container" style="display:{{display}};">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{title}}</strong> {{body}}
            </div>
          </div>
        <div class="container-fluid">
        <div class='border row'>
          <div class="col-md-5">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/smblogo2.png" alt="ShareMyBook">
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
              <div class="well-lg black  " style="color:gray" style="background-color:	#00A876;">
                <h2 style="color:white;">Welcome</h2>
              <h3 style="color:#4d5257">Register for SMB account here.</h3>
              <p style="color:#4d5257">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <form action="/register" method="get">
                <input class="btn btn-outline-light col-md-offset-3" type="submit" value="Register Here"/>
              </form>
          </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div class="col-md-7">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>                  <p>&nbsp;</p>
                            <p>&nbsp;</p>                  <p>&nbsp;</p>
                                              <p>&nbsp;</p>
          <h2 style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Or login to your account</h2>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label for="username" class="control-label col-md-3"  style="color:white;">Username:</label>
                <div class="col-md-6">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" />
                </div>
              </div>
              <div class="form-group">
                  <label for="password" class="control-label col-md-3"  style="color:white;">Password:</label>
                  <div class="col-md-6">
                  <input type="password" class="form-control" id="password" placeholder="Password" />
                  </div>
                </div>
                <p>&nbsp;</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="ajaxquery()"  class="btn btn-primary col-md-3 col-md-offset-3">login</button></p>
      </form>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>                  <p>&nbsp;</p>
                        <p>&nbsp;</p>
    </div>
    </div>
    </div>
  </div>
    <script type="text/javascript">
    var ajaxquery = function(){
      var username = document.getElementById("username").value;
      console.log(username);
      var password=document.getElementById("password").value;
      console.log(password);
          var data = JSON.stringify({
          "username": username,
          "password": password
          });

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            window.location.href = '/index';
            console.log(this.responseText);
          }
          });

          xhr.open("POST", "/auth/login");
          xhr.setRequestHeader("content-type", "application/json");
          //xhr.setRequestHeader("cache-control", "no-cache");
          //xhr.setRequestHeader("postman-token", "a44bb53a-a6a9-b7bc-c79f-21eeeca8cce5");

          xhr.send(data);
          }
    </script>

</body>
</html>
