<html>
    <head>
        <title>Hello Signup page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <style>
       .col-md-4{
           background-color: black;

       }
       .col-md-8{
           background-color: teal;
       }
       </style>
    </head>
            <body>
                    <div class="container-fluid">
                        <div class='row'>
                        <div class="col-md-4">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>


                
                                <img src="logo.jpg" alt="ShareMyBook">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>


                            <h2 style="color:white;">Register</h2>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p  style="color:blue;">A single account with many benefits. Register here to start your journey</p>
                        
                        </div>
                        <div class="col-md-8">
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                        

                        <form role="form" class="form-horizontal">
                                <div class="form-group">
                                        <label for="name" class="control-label col-md-3"  style="color:white;">Full Name:</label>
                                        <div class="col-md-6">
                                            <input type="name" class="form-control" name="name" id="name" placeholder="Name" />
                                        </div>
                                    </div>
                                <div class="form-group">
                                        <label for="name" class="control-label col-md-3"  style="color:white;">Username:</label>
                                        <div class="col-md-6">
                                            <input type="name" class="form-control" name="name" id="name" placeholder="username" />
                                        </div>
                                    </div>

                            <div class="form-group">
                                <label for="email" class="control-label col-md-3"  style="color:white;">Email:</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="number" class="control-label col-md-3"  style="color:white;">ContactNo(Optional):</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" name="number" id="number" placeholder="Number" />
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label for="exampleInputPassword1" class="control-label col-md-3"  style="color:white;">Password:</label>
                                    <div class="col-md-6">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                 </div> 
                                </div>
								
								 <div class="form-group">
                                    <label for="InputAddress" class="control-label col-md-3"  style="color:white;">Address:</label>
                                    <div class="col-md-6">
                                    <input type="text" class="form-control" id="InputAddress" placeholder="Address" />
                                 </div> 
                                </div>
                           
                
                
                            <div class="form-group">
                                <button type="button" id="submit" class="btn btn-success col-md-3 col-md-offset-3">Register</button>
                                <button type="button" id="submit" class="btn btn-warning col-md-3 col-md-offset-3">Login</button>

                                
                            </div>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>



                        </form>
                        </div>
                        </div>
                    </div>

    </body>
    </html>    